
/* GENERAL */

body{
    text-align: center;
    color: #aad8d3;
    background-color: #010f1a;
}

#main-div {
    position: static;
    text-align: left;
}

#main-div h3 {
    font-size: medium;
}

h1 {
    font-family: 'Nova Flat', cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 1rem;
}

#languageSelector {
    margin-left: 1vw;
}

@media screen and (max-width: 600px) {
    
    .gui-head {
        max-height: 100px !important;
    }

    #main-div {
        width: fit-content;
    }

    #languageSelector {
        font-size: small;
    }

    h1 {
        font-size: 0.7rem;
    }
    h3 {
        font-size: 52.5% !important;
    }

    #main-page {
        margin-left: 5vw;
    }

    #main-paragraph {
        font-size: 53%;
    }
}



h1, h2{
    text-shadow: #000 2px 2px;
}

h2, h3 {
    font-family: 'Ubuntu', sans-serif;
}

/*hr{
    border-color: #095d40;
    border-width: 10px;
    border-style: none;
    border-top-style: double;
    width: 100%;
    margin: 5rem auto;
}*/

.country-flags {
    font-family: 'Noto Color Emoji', sans-serif;
    background-color: #aad8d3;
    font-size: x-large;
    cursor: pointer;
}

.country-flags>option {
    margin-right: 3%;
}

.country-flags>option:checked {
    background-color: #213e9c !important;
}

#menu-links ul {
    padding-left: 0;
    list-style-type: none;
}

.nav-link {
    color: white;
}

.nav-link:hover, .nav-link.active {
    /* From https://css.glass */
    background: rgba(176, 176, 176, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(176, 176, 176, 0.3);
    color: #ddd !important;
}

.titleHi {
    color: #10bcd1
}

#main-page {
    margin-top: 1rem;
}

#main-paragraph {
    justify-self: center;
    width: 75%;
    font-family: 'Ubuntu', sans-serif;
    color:#fff;
    background: rgba(176, 176, 176, 0.25);
    border-radius: 16px;
}


.backHome {
    color: #d2d29c;
    cursor: pointer;
    background: rgba(50, 50, 50, 0.5);
    border: none;
    border-radius: 100%;
    margin-top: 5%;
    padding: 0;
}

.backHome:hover {
    color: #fff;
    background: rgba(50, 50, 50, 0.8);
}

/* HEADER */

#headerTag{
    text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    #headerTag {
        padding: 5vh 2vw;
    }

    #headerTag::before {
        background-size: 100%;
        background-position: center;
        border-radius: 0 0 25% 25%;
    }
}

.gui-head {
    border-radius: 50%;
    max-height: 200px;
    max-width: auto;
}

header>div>h3 {
    color: #213e9c;
    text-shadow: #000 1px 1px 1px;
}

h3>em {
    background: rgba(100, 100, 100, 0.5);
}

.header-div {
    position: fixed;
    text-align: left;
    height: fit-content;
}

.header-div>p{
    font-family: 'Ubuntu', sans-serif;
    line-height: 4vh;
    word-spacing: calc(1vw/4);
    color: #c0c0fa;
    text-shadow: #050a30 1px 1px 1px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header-div>p{
        font-size: 75%;
        line-height: 5vh;
        word-spacing: calc(1vw/2);
    }

}

.translateButton {
    border: none;
    margin: 0;
    padding: 0;
}

.css-bsqp9w-MuiSvgIcon-root {
    color: white !important;
    background-color: #1976d2;
    border-radius: 10%;
}

/* PROJECTS */

#projects-bubbles {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 55.05%;
    background: rgba(237, 237, 255, 0.5);
    border-radius: 10%;
}

.MuiGrid-container {
    margin-left: 0 !important;
    justify-content: center;
}

.projectIcon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.project-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.project-link:hover{
    color: #10bcd1;
}

.MuiTypography-subtitle1 {
    color:#000;
    font-weight: 600 !important;
    text-shadow: #10bcd1 1px 1px;
}

@media screen and (max-width: 600px) {
    .MuiTypography-subtitle1 {
        font-size: 0.9rem !important;
    }
}

@media screen and (min-width: 712px) and (max-width: 1024px) {
    .MuiButtonBase-root {
        margin-bottom: 20px !important;
        margin-left: 20px !important;
    }
    .MuiTypography-subtitle1 {
        font-size: 0.8rem !important;
    }
}


/* BUDGET */
#budget {
    justify-content: center;
}

#formBudget {
    background-color: rgba(33, 62, 156, 0.75);
    width: 50%;
    margin: 0 auto;
    padding: 2% 2%;
    border-radius: 16px;
}

#formBudget>label, .secondPartLabel {
    color: #10bcd1;
    margin-bottom: 0; margin-top: 5%;
} 

#budget>h2 {
    margin-bottom: 2%;
}

.secondPart-checkboxes {
    text-align: left;
    margin-left: 20%; margin-top: 3%;
}

#formSecondPart>div>label, label[for="qntNewPages"], label[for="qntPages"] {
    margin-left: 5%;
    color: #0a0a0a;
    font-weight: 500;
    cursor: pointer;
} label[for="qntNewPages"], label[for="qntPages"] {margin-left: 0;}

#qntNewPages, #qntPages {
    width: 40px;
}

#description {
    width: 100%;
    font-size: normal;
}

#characters {
    font-size: x-small;
    color:#050a30;
}

#submitBtn {
    margin: 5% auto;
}

input[type="checkbox"] {
    cursor: pointer;
}

@media screen and (min-width: 239px) and (max-width: 767px) {
    #formBudget {
        width: 100%;
    }

    .secondPart-checkboxes {
        margin-left: 10%;
    }

    #formSeconPart>div>label {
        font-size: calc(100% - 5vw);
    }
}


/* CONTACT */

.contactIcon, .contactLink {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.contactIcon {
    margin-left: 2rem;
    color: #d2b29c;
}

.contactIcon:hover {
    color:#e5e5e5;
}

/* FOOTER */

.bottom-container{
    background: rgba(100, 220, 220, 0.5);
    padding: 0.5rem;
    margin-top: 1rem;
}

.bottom-container>p{
    color: #dfdfdf;
    margin: 2rem;
}