
/* GENERAL */

body{
    margin: 0;
    text-align: center;
    color: #318f9a;
    background-color: #050a30;
}

h1{
    margin-top: 1rem;
    font-family: 'Nova Flat', cursive;
    font-weight: 900;
    font-style: italic;
    font-size: 4rem;
} 

h2 {
    font-size: 2.5rem;
}


h1, h2{
    text-shadow: #000 2px 2px;
}

h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.25rem;
    }
}

img {
    display: flex;
}

hr{
    border-color: #095d40;
    border-width: 10px;
    border-style: none;
    border-top-style: double;
    width: 100%;
    margin: 5rem auto;
}

.backHome {
    color: #d2d29c;
    cursor: pointer;
    background: rgba(50, 50, 50, 0.5);
    border: none;
    border-radius: 100%;
    margin-top: 5%;
}

#back2Top:hover {
    color: #fff;
    background: rgba(50, 50, 50, 0.8);
}

/* HEADER */

#headerTag{
    position: relative;
    padding: 20vh 0;
    text-align: center;
}

#headerTag::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("./images/gui.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center top;
    filter: hue-rotate(12.5deg) opacity(0.1) blur(1px);
    border-radius: 0 0 50% 50%;
    z-index: -2;

}

@media screen and (min-width: 320px) and (max-width: 425px) {
    #headerTag {
        padding: 5vh 2vw;
    }

    #headerTag::before {
        background-size: 100%;
        background-position: center;
        border-radius: 0 0 25% 25%;
    }
}

.titleHi {
    font-size: 2rem;
    color: #10bcd1;
    font-style: normal;
}

header>div>h3 {
    color: #213e9c;
    text-shadow: #000 1px 1px 1px;
}

h3>em {
    background: rgba(0, 0, 0, 0.8);
}

.header-div>p{
    font-family: 'Ubuntu', sans-serif;
    line-height: 4vh;
    word-spacing: calc(1vw/4);
    color: #c0c0fa;
    text-shadow: #050a30 1px 1px 1px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header-div>p{
        font-size: 75%;
        line-height: 5vh;
        word-spacing: calc(1vw/2);
    }

}

.translateButton {
    border: none;
    margin: 0;
    padding: 0;
}

.css-bsqp9w-MuiSvgIcon-root {
    color: white !important;
    background-color: #1976d2;
    border-radius: 10%;
}

/* PROJECTS */

.projectIcon {
    height: 100%;
    border-radius: 50%;
}

.project-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.project-link:hover{
    color: #aff;
}

.MuiTypography-subtitle1 {
    color:#000;
    font-weight: 600 !important;
    text-shadow: #d2b29c 2px 2px;
}

/* BUDGET */
#budget {
    justify-content: center;
}

#formBudget {
    background-color: rgba(33, 62, 156, 0.75);
    width: 25%;
    margin: 0 auto;
    padding: 2% 2%;
    border-radius: 16px;
}

#formBudget>label {
    color: #10bcd1;
    font-weight: bold;
    margin-bottom: 0; margin-top: 5%;
}

#budget>h2 {
    margin-bottom: 2%;
}

.DFS-checkboxes {
    text-align: left;
    margin-left: 20%; margin-top: 3%;
}

#formSecondPart>div>label {
    margin-left: 5%;
    color: #0a0a0a;
    font-weight: 500;
}

#description {
    width: 100%;
}

#characters {
    font-size: x-small;
    color:#050a30;
}

/* CONTACT */

.contactIcon, .contactLink {
    text-decoration: none;
    color: inherit;
}

.contactIcon {
    margin-left: 2rem;
    color: #d2b29c;
}

/* FOOTER */

.bottom-container{
    background: rgba(100, 220, 220, 0.5);
    padding: 0.5rem;
    margin-top: 1rem;
}

.bottom-container>p{
    color: #dfdfdf;
    margin: 2rem;
}